<a href="https://colab.research.google.com/github/Kevoen/Google_Colab_Rep/blob/master/%E7%AC%AC%E4%BA%8C%E7%AB%A0%EF%BC%9A%E7%AC%AC%E4%B8%89%E8%8A%82%E6%95%B0%E6%8D%AE%E9%87%8D%E6%9E%842_%E8%AF%BE%E7%A8%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
!ln -s /content/drive/My\ Drive /mydrive

In [3]:
%cd /mydrive/Colab_Notebooks/DataWhela/Data Analysis/hands-on-data-analysis/第二章项目集合

/content/drive/My Drive/Colab_Notebooks/DataWhela/Data Analysis/hands-on-data-analysis/第二章项目集合

**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [4]:
# 导入基本库
import numpy as np
import pandas as pd

In [5]:
# 载入上一个任务人保存的文件中:result.csv，并查看这个文件
text = pd.read_csv('result.csv')
text.head()

   Unnamed: 0  PassengerId  Survived  ...     Fare Cabin Embarked
0           0            1         0  ...   7.2500   NaN        S
1           1            2         1  ...  71.2833   C85        C
2           2            3         1  ...   7.9250   NaN        S
3           3            4         1  ...  53.1000  C123        S
4           4            5         0  ...   8.0500   NaN        S

[5 rows x 13 columns]

# 2 第二章：数据重构

## 第一部分：数据聚合与运算

### 2.6 数据运用

#### 2.6.1 任务一：通过教材《Python for Data Analysis》P303、Google or anything来学习了解GroupBy机制

In [ ]:
#写入心得
# 该机制与SQL里面的group语法机制相同

#### 2.4.2：任务二：计算泰坦尼克号男性与女性的平均票价

In [6]:
# 写入代码
df = text['Fare'].groupby(text['Sex'])
mean = df.mean()
mean

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

In [18]:
mean_sex = text.groupby('Sex')['Fare'].mean()
mean

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64

在了解GroupBy机制之后，运用这个机制完成一系列的操作，来达到我们的目的。

下面通过几个任务来熟悉GroupBy机制。

#### 2.4.3：任务三：统计泰坦尼克号中男女的存活人数

In [19]:
# 写入代码
sunum_sex = text.groupby('Sex')['Survived'].sum()
sunum

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

#### 2.4.4：任务四：计算客舱不同等级的存活人数

In [12]:
# 写入代码
sunum = text.groupby('Pclass')['Survived'].sum()
sunum.head()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

【**提示：**】表中的存活那一栏，可以发现如果还活着记为1，死亡记为0

【**思考**】从数据分析的角度，上面的统计结果可以得出那些结论

In [ ]:
#思考心得 
可以看出存活的女性要比男性多，并且女性的票价要高，以及一级客舱存活的人数要最多

【思考】从任务二到任务四中，这些运算可以通过agg()函数来同时计算。并且可以使用rename函数修改列名。你可以按照提示写出这个过程吗？

In [ ]:
#思考心得

text.groupby('Survived').agg({'Sex': 'mean', 'Pclass': 'count'}).rename(columns={'Sex': 'mean_sex', 'Pclass': 'count_pclass'})

#### 2.4.5：任务五：统计在不同等级的票中的不同年龄的船票花费的平均值

In [15]:
# 写入代码
text.groupby(['Pclass','Age'])['Fare'].mean().head()

Pclass  Age
1       0.92     151.5500
        2.00     151.5500
        4.00      81.8583
        11.00    120.0000
        14.00    120.0000
Name: Fare, dtype: float64

#### 2.4.6：任务六：将任务二和任务三的数据合并，并保存到sex_fare_survived.csv

In [20]:
# 写入代码
result = pd.merge(mean_sex,sunum_sex,on='Sex')
result

             Fare  Survived
Sex
female  44.479818       233
male    25.523893       109

In [21]:
result.to_csv('sex_fare_survived.csv')

#### 2.4.7：任务七：得出不同年龄的总的存活人数，然后找出存活人数的最高的年龄，最后计算存活人数最高的存活率（存活人数/总人数）

In [22]:
# 写入代码
#不同年龄的存活人数
survived_age = text['Survived'].groupby(text['Age']).sum()
survived_age.head()

Age
0.42    1
0.67    1
0.75    2
0.83    2
0.92    1
Name: Survived, dtype: int64

In [23]:
# 写入代码
#找出最大值的年龄段
survived_age[survived_age.values==survived_age.max()]

Age
24.0    15
Name: Survived, dtype: int64

In [24]:
# 写入代码
_sum = text['Survived'].sum()
print(_sum)

342

In [25]:
# 写入代码
#首先计算总人数
_sum = text['Survived'].sum()

print("sum of person:"+str(_sum))

precetn =survived_age.max()/_sum

print("最大存活率："+str(precetn))

sum of person:342
最大存活率：0.043859649122807015